/* App.css */

.container {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #3B3255; /* Overall background color */
}

.sidebar {
  flex: 1;
  padding: 1.5rem;
  background-color: #5C4F82; /* Sidebar purple */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;

}

.sidebar h1 {
  font-size: 2rem;
  margin-bottom: 1rem; /* Reduced gap between title and input boxes */
  color: #ffffff;
}

.sidebar p {
  margin: 0.5rem 0;
}

.sidebar input[type="text"] {
  width: 100%;
  padding: 1.6rem; /* Increased padding for taller input boxes */
  margin-bottom: 1.8rem; /* Slightly increased the bottom margin between boxes */
  border: none;
  border-radius: 8px;
  background-color: #4C3E71;
  color: #ffffff;
  font-size: 1rem;
}

button {
  padding: 1rem; /* Increased padding for the button */
  border: none;
  border-radius: 25px;
  background-color: #F88379;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  align-self: center; /* Center the button */
  margin-top: 2rem; /* Increased margin-top to push the button further down */
}

button:hover {
  background-color: #F25A5A;
}

.chat-window {
  flex: 2;
  margin-left: 450px;
  padding: 2rem;
  background-color: #3B3255;
  display: flex;
  flex-direction: column;
}

.chat-window h1 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px;
  max-width: 60%;
  word-wrap: break-word;
  color: #333;
}

.avatar-line{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 40px;  /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  border: solid #F25A5A 1px;
  border-radius: 50%; /* Make it circular */
  margin-right: 0.5rem; /* Space between the avatar and username */
}

.timestamp {
  font-size: 0.75rem;
  color: #aaa;
  text-align: right;
  margin-top: 0.5rem;
}

.message.sent {
  background-color: #D1E7DD; /* Sent message green */
  align-self: flex-end;
}

.message.received {
  background-color: #F8D7DA; /* Received message red */
  align-self: flex-start;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}
