/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #3B3255; /* Match the chat window background */
  color: #ffffff;
}

h1, p {
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid #F88379; /* Highlight input on focus */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F88379;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #4C3E71;
}
